/* header */
.logo {
    width:10rem;
    height:6rem;
    object-fit: cover;
}


/* main */


.container {
    width:100vw;
    display: flex;
    justify-content:space-between;
    /* gap:1rem; */
    align-items:center;
    margin:0.5rem auto;
}

.main-img{
    height:600px;
    object-fit: contain;
}
